#
# Tehuti network device configuration
#

config NET_VENDOR_TEHUTI
	bool "Tehuti devices"
	default y
	depends on PCI
	---help---
	  If you have a network (Ethernet) card belonging to this class, say Y
	  and read the Ethernet-HOWTO, available from
	  <http://www.tldp.org/docs.html#howto>.

	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all
	  the questions about Tehuti cards. If you say Y, you will be asked for
	  your specific card in the following questions.

if NET_VENDOR_TEHUTI

config TEHUTI_C10GT
	tristate "Tehuti Networks 10G SFP+ Ethernet NIC"
	depends on PCI
	---help---
	  Tehuti Networks 10G SFP+ Ethernet NIC

config TN4011_10GBASET
	tristate "Tehuti Networks 10G base-T Ethernet NIC"
	depends on PCI
	---help---
	  Tehuti Networks 10G base-T Ethernet NIC

config TN4022_DXE810S
	tristate "Tehuti Networks for DLINK DXE810S Ethernet NIC"
	depends on PCI
	---help---
	  Tehuti Networks for DLINK DXE810S Ethernet NIC

endif # NET_VENDOR_TEHUTI
